.brd-b {
  border-bottom: 1px solid grey;
}

.brd-act-b {
  border-bottom: 2px solid black;
  width: 35px;
}

.cusrsor-pointer {
  cursor: pointer;
}

.bg-grey {
  background-color: lightgray;
}

.text-orange {
  color: orange;
}

.fs-7 {
  font-size: 10px;
}

.round {
  border-radius: 25px;
}